.stat-header {
  text-align: center;
  font-size: larger;
  border-bottom: 2px solid black;
}

.stat-row-title-container, .card-averages-container, .card-totals-container {
  margin-left: 6px;
  margin-right: 6px;
}

.stat-row-title {
  text-align: center;
  font-weight: bold;
}

.card-table-buttons {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 80px 80px 140px 200px;
  column-gap: 10px;
}

.card-table-buttons-limited {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 80px 140px 200px;
  column-gap: 10px;
}

.card-table-button {
  margin: 8px 8px !important;
  justify-self: center;
}

.card-add-button {
  grid-column: 0;
}

.card-save-button {
  grid-column: 1;
}

.card-actions-button {
  grid-column: 2;
}

.collections-sub-dropdown {
  margin-left: 184px;
  margin-top: -28px;
  width: 14rem;
}

.small-list-item {
  height: 32px;
  margin: 0px;
  padding: 4px 10px;
  border: 0;
}

.small-list-item:hover {
  background-color: var(--bs-dropdown-link-hover-bg);
}