.stat-header {
  text-align: center;
  font-size: larger;
  border-bottom: 2px solid black;
}

.stat-row-title-container, .card-averages-container, .card-totals-container {
  margin-left: 6px;
  margin-right: 6px;
}

.stat-row-title {
  text-align: center;
  font-weight: bold;
}

/*.card-table-buttons {
  margin-top: 10px;
  overflow: hidden;
}

.collections-sub-dropdown {
  margin-left: 184px;
  margin-top: -28px;
  width: 14rem;
}

.small-list-item {
  height: 32px;
  margin: 0px;
  padding: 4px 10px;
  border: 0;
}

.small-list-item:hover {
  background-color: var(--bs-dropdown-link-hover-bg);
}*/